<div class="container">
        <div>
            <h2>Control - Mascotas &nbsp;  <i class="fas fa-dog"></i>
     </h2>
        </div>
    <hr>
        <div class="row">
    
            <div class="col-md-12 text-right">
                <button type="button" id="" class="btn btn-success" data-toggle="modal" data-target="#modalRegistrarMascota">Agregar Mascota &nbsp; <i class="fas fa-plus-circle"></i></button>
            </div>
        </div>
        <hr>
        <table class="table table-striped" style="margin-top: 1em;" id="tabla-Pets">
            <thead>
                <th style="width: 8%">Nombre</th>
                <th style="width: 8%">Especie</th>
                <th style="width: 12%">Raza</th>
                <th style="width: 12%">Fecha Rescate</th>
                <th style="width: 12%">Sexo</th>
                <th style="width: 12%">Disponibilidad</th>
                <th style="width: 12%">Opciones</th>
            </thead> 
            <tbody id="body-Pets">  </tbody>
        </table>
    </div>