
<div class="row">
    <div class="col-md-12">
        <div>
        <canvas id="lienzo"></canvas>
    </div>
    </div>
</div>

<script>
    //contexto representa el tipo
    const contexto = document.getElementById('lienzo').getContext('2d');
    //construir un objeto chart
    const lienzo =new Chart(contexto,{
        type:'bar',
        data: {
            labels:["windows" , "Linux" , "Android" , "MacOS"],
            datasets: [
                {
                label:'Ventas',
                data: [15,20,25,30],
                backgroundColor: listBackground,
                borderColor: listBorder,  
                borderWidth: 3
                }
            ]
        }, 
        options: {
            scales : {
              y :{beginAtZero: tue}},
              responsive:true,
              maintainAspectRatio: false
            
        }
        });
</script>