
<div class="row">
    <div class="col-md-12">
        <div style="position: relative; width: 60vw; height: 30vw; margin: auto;">
        <canvas id="lienzo"></canvas>
    </div>
    </div>
</div>

<script>
    //contexto representa el tipo de vamvas a utilizar
    const contexto = document.getElementById('lienzo').getContext('2d');
    //construir un objeto chart
    //
    const grafico =new Chart(contexto,{
        type:'bar',
        data: {
            labels:["Windows","Linux","Android","MacOS"],
            datasets:[{
                label:'Ventas',
                data:[15,20,25,30],
                backgroundColor:[
                'rgba(20,19,18, 0.3)', 
                'rgba(224,143,15, 0.3)',
                'rgba(91,230,43, 0.3)',
                'rgba(53,119,229, 0.3)'
                ],
                boderColor:[
                'rgba(20,19,18, 1)', 
                'rgba(224,143,15, 1)',
                'rgba(91,230,43, 1)',
                'rgba(53,119,229, 1)'
                ],
                borderWidht: 3
            }]
        }, 
        options: {
            scales:{y: {beginAtZero:true}},
            responsive:true,
            maintainAspectRatio:false
        }
        });
</script>